

.field-btn{
    /* border-radius: 10px; */
    width: 100%;
}

.bg-primary:hover{
    /* color: #fff; */
    background-color: #fff;
    box-shadow: 0px 0px 5px var(--primary-color-1);
}

button{
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    border: none;
    min-width: 100px;
}
  .btn-primary{
    border: none;
    background: #0066ff;
  }
  .btn-primary:hover{
    background: #0c60e0;
  }
  .btn-danger{
    border: none;
    background: #F32013;
  }
  .btn-danger:hover{
    background: #CA0B00;
  }
  .btn-outline-primary{
    outline: 2px solid #0066ff;
    color: #0066ff;
  }
  .btn-outline-primary:hover{
    outline: 2px solid #0c60e0;
    color: #0c60e0;
  }
  .btn-outline-danger{
    outline: 2px solid #F32013;
    color: #F32013;;
  }
  .btn-outline-danger:hover{
    outline: 2px solid #CA0B00;
    color: #CA0B00;
  }
  button:disabled{
    cursor: not-allowed;
    background-color: #999999;
    color: #444444;
  }
  button:disabled:hover{
    cursor: not-allowed;
    background-color: #999999;
    color: #444444;
  }
  