input:is(:hover, :focus){
    border-color: var(--primary-color);
}
.input-container{
    position: relative;
    padding: 12px 14px;
  
    /* margin-bottom: 20px; */
    background-color: #000000;
    border-bottom: 5px solid #555;
    border-radius: 5px;
    margin-top: 40px;
}
.input-container label{
    position: absolute;
    top: 22px;
    transition: all 0.5s ease-in-out;
}
.input-container  input{
    color: #cdcdcd;
    font-size: 20px;
    line-height: 20px;
    border: 0;
    background: none;
    width: 100%;
    border: none;
    outline: none;
    z-index: 1;
}
input:-internal-autofill-selected{
    background: transparent;
}
.input-container .btn-clear-input{
    border: none;
    background: none;
    margin: 5px;
    text-align: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    color: #cdcdcd;
}
.btn-clear-input:hover{
    background-color: #333333;  
}
.input-container:has(input:focus){
    border-bottom:5px solid var(--primary-color);
}
.light-form .input-container span input:focus ~ label,
.light-form .input-container span input:not(input[value = ''])  ~ label{
      top:-30px;
    color: #000;
    font-weight: 600;
}
.input-container span input:focus ~ label,
.input-container span input:not(input[value = ''])  ~ label{
      top:-30px;
    color: var(--primary-color);
    font-weight: 600;
}
.text-invalid{
    border-bottom:5px solid #e74c3c;
}
.invalid-message{
    font-size: 14px;
    color: #ff0000;
}

.search-box{
    overflow: hidden;
    width: 40vw;
    max-width: 600px;
    outline: 2px solid var(--text-secondary);
    border-radius: 5px;
    height: 40px;
    padding: 0;
    display: flex;
    /* justify-content:flex-start; */
}
.search-box:hover {
    outline: 2px solid var(--text-primary);
}
.search-box input{
    color: var(--text-secondary);
    padding: 10px;
    background-color: var(--background-primary);
    width: 100%;
    border: none;
}
.search-box button{
    color: var(--text-secondary);
}
.search-box button:hover{
    color: var(--text-primary);
}


.dropdown{
    position: relative;
}
  
.dropdown-header{
    max-width: 200px;
    font-weight: 600;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis; 
}
.cut-text a{
    overflow: hidden;
    text-overflow: ellipsis; 
}
.dropdown-menu{
    font-size: 16px;
    font-weight: normal;
    width: 300px;
    position: absolute;
    z-index: 1;
}
.dropdown-menu{
    border-radius: 0 0 10px 10px;
    right: 0px;
    background-color: var(--background-secondary);
    box-shadow: 0 0 10px var(--background-tertiary);
}
.dropdown-menu li{
    margin-bottom: 3px;
    background-color: var(--background-primary);
    min-width: 200px;
    padding: 16px;
    /* font-size: 20px; */
    line-height: 32px;
}
.dropdown-menu li:hover {
    background-color: var(--background-secondary);
}
.dropdown-menu .section{
    border-bottom: 5px solid var(--background-primary);
}



/* Check box */
input:checked + .slider {
    background-color: var(--primary-color);
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.select-dropdown:has(select:hover, select:focus){
    border-color: var(--primary-color);
}

.dropzone-container{
    border: 2px dashed #fff;
    border-radius: 5px;
    min-height: 300px;
    position: relative;
    background: none;
}
.dropzone{
    width: 100%;
    height: 100%;
}
.dropzone-container:hover, .dropzone-container:has(input:focus){
    border-color: var(--primary-color);
}
input[type=file]{
    border: none;
}
.dropzone-container input[type=file]{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}
.clear-dropzone{
    position: absolute;
    right: 0;
    top: 0;
    width: 32px;
    height: 32px;
    font-size: 24px;
    color: #cdcdcd;
}
.clear-dropzone:hover{
    color: var(--primary-color);
    background-color: #555;
    cursor: pointer;
}
